@import "tailwindcss";

@theme {
  --color-on-tertiary: #ffffff;
  --color-secondary-container: #d5e0f8;
  --color-primary-fixed-dim: #80d5cb;
  --color-surface: #f7f9fb;
  --color-secondary-fixed: #d8e3fb;
  --color-on-error: #ffffff;
  --color-primary-container: #0f766e;
  --color-inverse-primary: #80d5cb;
  --color-background: #f7f9fb;
  --color-on-primary: #ffffff;
  --color-on-tertiary-container: #ffe5db;
  --color-surface-container-lowest: #ffffff;
  --color-primary: #005c55;
  --color-on-surface: #191c1e;
  --color-error: #ba1a1a;
  --color-tertiary: #7f4025;
  --color-error-container: #ffdad6;
  --color-primary-fixed: #9cf2e8;
  --color-surface-tint: #006a63;
  --color-on-surface-variant: #3e4947;
  --color-on-tertiary-fixed-variant: #72361b;
  --color-on-secondary-fixed: #111c2d;
  --color-on-primary-container: #a3faef;
  --color-tertiary-fixed: #ffdbce;
  --color-on-primary-fixed: #00201d;
  --color-on-tertiary-fixed: #370e00;
  --color-surface-variant: #e0e3e5;
  --color-inverse-on-surface: #eff1f3;
  --color-outline-variant: #bdc9c6;
  --color-on-primary-fixed-variant: #00504a;
  --color-surface-dim: #d8dadc;
  --color-surface-container: #eceef0;
  --color-outline: #6e7977;
  --color-surface-container-high: #e6e8ea;
  --color-tertiary-container: #9c573a;
  --color-inverse-surface: #2d3133;
  --color-tertiary-fixed-dim: #ffb598;
  --color-secondary-fixed-dim: #bcc7de;
  --color-on-error-container: #93000a;
  --color-on-secondary: #ffffff;
  --color-secondary: #545f73;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-highest: #e0e3e5;
  --color-on-secondary-fixed-variant: #3c475a;
  --color-surface-bright: #f7f9fb;
  --color-on-background: #191c1e;
  --color-on-secondary-container: #586377;

  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);
  --font-label: var(--font-inter);
}

@layer utilities {
}
